In [2]:
import pandas as pd
from sqlalchemy import create_engine, text
import os
from dotenv import load_dotenv

In [3]:
load_dotenv()

True

In [4]:
SQL_PASSWORD = os.getenv("SQL_PASSWORD")

In [5]:
data = pd.read_csv('candidates.csv', sep=';') 
print(data)

       First Name   Last Name                       Email Application Date  \
0      Bernadette   Langworth         leonard91@yahoo.com       2021-02-26
1          Camryn    Reynolds         zelda56@hotmail.com       2021-09-09
2           Larue      Spinka    okey_schultz41@gmail.com       2020-04-14
3            Arch      Spinka      elvera_kulas@yahoo.com       2020-10-01
4           Larue  Altenwerth   minnie.gislason@gmail.com       2020-05-20
...           ...         ...                         ...              ...
49995     Bethany     Shields  rocky_mitchell@hotmail.com       2022-01-09
49996         Era  Swaniawski    dolores.roob@hotmail.com       2020-06-02
49997      Martin       Lakin   savanah.stracke@gmail.com       2018-12-15
49998       Aliya   Abernathy  vivienne.fritsch@yahoo.com       2020-05-30
49999     Coleman      Wisozk   abigayle.crooks@yahoo.com       2022-06-13

                  Country  YOE  Seniority                         Technology  \
0                  Norway    2     Intern                      Data Engineer
1                  Panama   10     Intern                      Data Engineer
2                 Belarus    4  Mid-Level                     Client Success
3                 Eritrea   25    Trainee                          QA Manual
4                 Myanmar   13  Mid-Level  Social Media Community Management
...                   ...  ...        ...                                ...
49995  Dominican Republic   27    Trainee                           Security
49996             Morocco   21       Lead                   Game Development
49997              Uganda   20    Trainee              System Administration
49998      Czech Republic   20     Senior            Database Administration
49999               Palau   15     Intern                           Mulesoft

       Code Challenge Score  Technical Interview Score
0                         3                          3
1                         2                         10
2                        10                          9
3                         7                          1
4                         9                          7
...                     ...                        ...
49995                     2                          1
49996                     1                          2
49997                     6                          1
49998                     0                          0
49999                     3                          1

[50000 rows x 10 columns]

In [6]:
# clean and format the column names
data.columns = [col.strip().lower().replace(' ', '_') for col in data.columns]
print(data.columns)

Index(['first_name', 'last_name', 'email', 'application_date', 'country',
       'yoe', 'seniority', 'technology', 'code_challenge_score',
       'technical_interview_score'],
      dtype='object')

In [7]:
data_sorted = data.sort_values(by='email', ascending=False).head(100)
data_sorted.to_csv('sorted_data.csv', index=False)

In [8]:
print(data)

       first_name   last_name                       email application_date  \
0      Bernadette   Langworth         leonard91@yahoo.com       2021-02-26
1          Camryn    Reynolds         zelda56@hotmail.com       2021-09-09
2           Larue      Spinka    okey_schultz41@gmail.com       2020-04-14
3            Arch      Spinka      elvera_kulas@yahoo.com       2020-10-01
4           Larue  Altenwerth   minnie.gislason@gmail.com       2020-05-20
...           ...         ...                         ...              ...
49995     Bethany     Shields  rocky_mitchell@hotmail.com       2022-01-09
49996         Era  Swaniawski    dolores.roob@hotmail.com       2020-06-02
49997      Martin       Lakin   savanah.stracke@gmail.com       2018-12-15
49998       Aliya   Abernathy  vivienne.fritsch@yahoo.com       2020-05-30
49999     Coleman      Wisozk   abigayle.crooks@yahoo.com       2022-06-13

                  country  yoe  seniority                         technology  \
0                  Norway    2     Intern                      Data Engineer
1                  Panama   10     Intern                      Data Engineer
2                 Belarus    4  Mid-Level                     Client Success
3                 Eritrea   25    Trainee                          QA Manual
4                 Myanmar   13  Mid-Level  Social Media Community Management
...                   ...  ...        ...                                ...
49995  Dominican Republic   27    Trainee                           Security
49996             Morocco   21       Lead                   Game Development
49997              Uganda   20    Trainee              System Administration
49998      Czech Republic   20     Senior            Database Administration
49999               Palau   15     Intern                           Mulesoft

       code_challenge_score  technical_interview_score
0                         3                          3
1                         2                         10
2                        10                          9
3                         7                          1
4                         9                          7
...                     ...                        ...
49995                     2                          1
49996                     1                          2
49997                     6                          1
49998                     0                          0
49999                     3                          1

[50000 rows x 10 columns]

In [10]:
engine = create_engine(f'postgresql://postgres:{SQL_PASSWORD}@localhost:5432/')

In [11]:
# Insert the data into the database
data.to_sql('candidates', engine, if_exists='append', index=False)

1000